@import url("https://fonts.googleapis.com/css2?family=ger:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #e82590;
  --primary-color-dark: #e8259070;
  --text-dark: #0c0a09;
  --text-light: orange;
  --white: #ffffffd5;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 100px 50px;
}

.section__subheader {
  margin-bottom: 0.5px;
  position: relative;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--text-dark);
}

.section__subheader::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(20px, -50%);
  height: 2px;
  width: 64px;
  background-color: var(--primary-color);
}

.section__header {
  max-width: 600px;
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: var(--text-dark);
}

.section__description {
  max-width: 600px;
  margin-bottom: 16px;
  color: var(--text-light);
}

.btn {
  padding: 12px 24px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}


html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: url("images/Back2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}

.nav__bar {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background-color: var(--primary-color);
}

.nav__menu__btn {
  font-size: 24px;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 32px;
  display: flex;
  font-size: 20px;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  background-color: rgba(188, 28, 92, 0.9);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  position: relative;
  isolation: isolate;
  padding-bottom: 8px;
  color: var(--white);
  transition: 0.3s;
}


.header__container {
  padding-block: 160px 240px;
}

.header__container p {
  margin-bottom: 16px;
  font-size: 19px;
  color: var(--white);
  text-align: center;
  opacity: 0.6;
}

.header__container h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 72px;
  color: var(--white);
  text-align: center;
}

.header__container h1 span {
  color: var(--primary-color);
}


.about__container {
  overflow: hidden;
  display: grid;
  gap: 32px;
}

.about__image img {
  max-width: 450px;
  margin: auto;
  border-radius: 5px;
}

.flora__grid {
  margin-top: 64px;
  display: grid;
  gap: 1rem;
}

.flora__card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.flora__card__image {
  position: relative;
  isolation: isolate;
}

.flora__card__icons {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 16px;
  z-index: 1;
}

.flora__card__icons span {
  display: inline-block;
  padding: 2px 8px;
  font-size: 24px;
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}



.flora__card__details {
  padding: 16px;
}

.flora__card h4 {
  margin-bottom: 8px;
  font-size: 19px;
  font-weight: 500;
  color: var(--text-dark);
}

.flora__card p {
  margin-bottom: 8px;
  color: var(--text-light);
}

.flora__card h5 {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-light);
}

.flora__card h5 span {
  font-size: 18px;
  color: var(--text-dark);
}



.explore :is(.section__subheader, .section__header) {
  text-align: center;
  margin-inline: auto;
}

.explore__bg {
  margin-top: 64px;
  padding-block: 48px;
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr)
    minmax(0, var(--max-width))
    minmax(1rem, 1fr);
  background-image: url("images/Back1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.explore__content {
  grid-column: 2/3;
  max-width: 400px;
  padding: 32px;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.explore__content p {
  margin-bottom: 8px;
}

.explore__content h4 {
  margin-bottom: 16px;
  font-size: 9px;
  font-weight: 600;
  line-height: 24px;
  color: var(--text-dark);
}

.explore__content .btn {
  color: var(--primary-color);
  background-color: var(--white);
  border: 1px solid var(--primary-color);
}

.explore__content .btn:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

.footer {
  background-color: var(--text-dark);
}

.footer__container {
  display: grid;
  gap: 64px 32px;
}

.footer__col .section__description {
  margin-block: 32px;
}

.footer__col h4 {
  margin-bottom: 32px;
  font-size: 19px;
  font-weight: 500;
  color: var(--white);
}

.footer__links {
  list-style: none;
  display: grid;
  gap: 16px;
}

.footer__links a {
  color: var(--text-light);
  transition: 0.3s;
}

.footer__links a:hover {
  color: var(--white);
}

.footer__socials {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.footer__socials img {
  max-width: 25px;
  opacity: 0.8;
  transition: 0.3s;
}

.footer__socials img:hover {
  opacity: 1;
}

.footer__bar {
  padding: 16px;
  font-size: 15px;
  color: var(--text-light);
  text-align: center;
}

@media (width > 576px) {
  .flora__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    padding: 32px 16px;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__bar {
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    padding: 0;
    width: unset;
    position: static;
    transform: none;
    flex-direction: row;
    background-color: transparent;
  }

  .nav__btn {
    display: block;
  }

  .nav__links a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--primary-color);
    transition: 0.3s;
    transform-origin: left;
  }

  .nav__links a:hover::after {
    width: 100%;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .flora__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .service__content {
    grid-column: 2/3;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width > 1024px) {
  .flora__grid {
    gap: 32px;
  }
}